/* Reset css de la page */

* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Font de la page */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Partie nav bar */

.header {
  background-color: rgb(255, 255, 255);
  padding: 19px 15px;
  border-bottom: #1d1d1c 1px solid;
}

.logo {
  color: #1d1d1c;
  text-decoration: none;
  font-size: 2rem;
  border: solid 2px #1d1d1c;
  padding: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  color: #fff;
  font-family: "Roboto";
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav-menu a {
  color: #1d1d1c;
  text-decoration: none;
  font-size: 1.2rem;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

.nav-menu a:hover {
  border-bottom: 1px solid #1ae5be;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #1d1d1c;
  transition: all 0.5s ease-in;
}

.burger.active .line1 {
  transform: rotate(45deg) translate(5px, 6px);
}

.burger.active .line2 {
  opacity: 0;
}

.burger.active .line3 {
  transform: rotate(-45deg) translate(5px, -6px);
}

/* Partie full hero */

.section_hero {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("background-img/heroimg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section_hero h1 {
  font-size: 5em;
  color: #1d1d1c;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.section_hero p {
  font-size: 2em;
  color: #1d1d1c;
}

.btn-hero {
  display: block;
  width: 200px;
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #1d1d1c;
  text-decoration: none;
  font-size: 1.5em;
  border: 3px solid #1c1d1d;
}

/* Partie article */

figcaption {
  font-size: 1.5rem;
  padding-top: 50px;
  text-align: center;
  color: #1d1d1c;
}

.section_article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 0 50px 0;
}

.article-pictures {
  padding-top: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover-button {
  width: 123px;
  line-height: 48px;
  text-align: center;
  background-color: #fff;
  font-size: 18px;
  text-decoration: none;
  color: #1d1d1c;
  border: #1d1d1c 2px solid;
  margin-top: 20px;
}

.button-fx:hover {
  background: #1d1d1c;
  color: #fff;
  border: none;
  transform: scale(1.1);
}

.price {
  font-size: 1.5rem;
  color: #1d1d1c;
}

/* Partie fiche produit */

.info_produit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 70px;
  border-top: lightgray 2px solid;
}

.desc_produit {
  max-width: 600px;
  margin-top: 20px;
}

.desc_produit h4 {
  font-size: 28px;
  padding-bottom: 15px;
}

.desc_produit .desc_text {
  font-size: 22px;
  padding: 15px 0 15px 0;
  color: #1d1d1c;
}

.btn_achat {
  width: 123px;
  line-height: 48px;
  text-align: center;
  background-color: #fff;
  font-size: 18px;
  text-decoration: none;
  color: #1d1d1c;
  border: #1d1d1c 2px solid;
  cursor: pointer;
}

.btn_achat:hover,
.btn_about:hover {
  background: #1d1d1c;
  color: #fff;
  border: none;
  transform: scale(1.1);
}

.more_info {
  padding: 40px;
  color: #fff;
  background-color: #1d1d1c;
}

.tittle {
  font-size: 28px;
  font-weight: bold;
}

.text {
  padding-top: 30px;
  font-size: 22px;
}

.ad_comments {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-bottom: lightgray 2px solid;
}

.form {
  display: flex;
  flex-direction: column;
}

.info_comments {
  font-size: 24px;
  padding: 20px 0 20px 0;
  color: #1d1d1c;
}

.author {
  width: 400px;
  padding: 10px;
  border: 1px solid #9e9b98;
}

.comments {
  width: 400px;
  height: 100px;
  padding: 10px;
  border: 1px solid #9e9b98;
}

.comments:hover,
.author:hover {
  transform: scale(1.05);
  border: 1px solid #1ae5be;
}

.send {
  margin-top: 20px;
}

/* Partie inscription */

.sign {
  padding: 30px 0 30px 0;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup h1 {
  font-size: 30px;
  color: #1d1d1c;
}

.signup input {
  width: 300px;
  height: 40px;
  margin: 10px;
  padding-left: 10px;
  border: 2px solid #9e9b98;
}

.signup input:hover {
  transform: scale(1.05);
  border: 1px solid #1ae5be;
}

.signup input:focus {
  outline: none;
}

.sign-genre {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
}

.submit-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  font-size: 12px;
  height: 42px;
  width: 300px;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1d1c;
  background: transparent;
}

.submit:hover {
  background: #1d1d1c;
  color: #fff;
  transform: scale(1.1);
}

.more {
  text-decoration: none;
  color: #1d1d1c;
}

.more:hover {
  text-decoration: underline;
  color: #1ae5be;
}

/* Partie Profil */

.user_pictures {
  width: 15%;
  margin-right: 30px;
}

.user_name {
  display: flex;
  align-items: center;
  color: white;
  max-width: 20%;
  padding: 0;
}

.user_figure {
  display: flex;
  justify-content: center;
  background: #1d1d1c;
  border: 1px solid #1ae5be;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;
  width: 500px;
}

.btn_profil {
  width: 500px;
  height: 30px;
  border: 1px solid #9e9b98;
  margin: 10px 0 10px 0;
  cursor: pointer;
  background: transparent;
}

.profil_nav {
  display: flex;
  flex-direction: column;
}

.profil_title {
  padding-bottom: 30px;
}

.profil_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 150px 0 150px 0;
}

.profil_information,
.my_mdp,
.my_pictures,
.my_order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  border: 1px solid #9e9b98;
}

.form_information {
  display: flex;
  flex-direction: column;
}

.form_contain {
  display: flex;
  flex-direction: column;
}

.form_contain input {
  width: 500px;
  height: 30px;
  margin: 10px 0 10px 0;
  border: 1px solid #9e9b98;
}

.btn_profil:hover {
  transform: scale(1.05);
  border: 1px solid #1ae5be;
  background: #1d1d1c;
  color: #fff;
}

.btn_profil:focus {
  outline: none;
}

.my_order,
.my_mdp,
.my_pictures {
  display: none;
}

/* Partie Panier */

.page-panier {
  color: #1c1d1d;
}

.table-prdt {
  padding: 30px 0 30px 0;
}

.td-prdt {
  text-align: center;
}

.td-prdt,
.td-prdt img {
  width: 25%;
}

.td-prdt img {
  min-width: 100px;
}

.td-prdt button {
  width: 100px;
  height: 30px;
  border: 1px solid #9e9b98;
  margin: 10px 0 10px 0;
  cursor: pointer;
  background: transparent;
}

.td-prdt button:hover {
  transform: scale(1.05);
  border: 1px solid #1ae5be;
  background: #1d1d1c;
  color: #fff;
}

.table-info {
  margin: auto;
  text-align: center;
}

.td-info {
  padding: 10px;
}


/* Partie footer */

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 0 30px 0;
  background-color: #1d1d1c;
}

.footer_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_card img {
  width: 100px;
  margin-bottom: 20px;
}

.footer_card h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}

.footer_card p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
  display: flex;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .nav-menu {
    width: 70%;
  }

  .profil_information,
  .my_mdp {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  main {
    margin-top: 80px;
  }

  .burger {
    display: block;
    padding-right: 20px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    right: -100%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 70px);
    transition: right 0.5s ease-in;
  }

  .nav-menu li {
    opacity: 0;
  }

  .nav-menu.active {
    right: 0;
    width: 50%;
  }

  .tittle {
    font-size: 26px;
  }

  .author,
  .comments {
    width: 250px;
  }

  .profil_information,
  .my_mdp,
  .my_pictures,
  .my_order {
    width: 400px;
  }

  .user_figure,
  .btn_profil {
    width: 400px;
  }

  .my_mdp input {
    margin-bottom: 15px;
  }

  .form_contain input {
    width: 300px;
  }

  .th-prdt,
  .th-info {
    font-size: 14px;
  }

  .th-prdt.desc,
  .td-prdt.desc {
    display: none;
  }

  .td-prdt,
  .td-info {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .profil_information,
  .my_mdp {
    width: 300px;
  }

  .user_figure,
  .btn_profil {
    width: 300px;
  }

  .my_mdp input {
    width: 250px;
    margin-bottom: 15px;
  }

  .form_contain input {
    width: 250px;
  }

  .user_pictures {
    display: none;
  }
}

@keyframes navLinksFade {
  0% {
    opacity: 0;
    transform: translateY(50px) translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}
